.task_header{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 1rem 2rem; */
    border-bottom: 1px solid red;
}

form{
    margin: 1rem 2rem;
}


.task_input{
    font-size: 20px;
    font-weight: 500;
    background: white;
    color: black;
    border: 1px solid black;
    padding: 8px 12px;
    margin-bottom: 2rem;
}

.task_form_bottom_line{
    display: flex;
}



.task_status{
    padding: 2px 5px;
}

.task_submit{
    padding: 3px 8px;
    border-radius: 2px;
    margin: 0 1rem;
}